.icon{
    width: 150px;
}


.login{
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    color: black; 
    background: rgb(231, 205, 53);
    border-radius: 5px;
    border: 1px solid yellow;
}